<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    
    {% endblock meta %}
    <title>{% block title %}{% endblock title %}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6VS9V9DLDE"></script>
  <script src='{% static "js/popper.min.js"%}'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js" integrity="sha512-Lii3WMtgA0C0qmmkdCpsG0Gjr6M0ajRyQRQSbTF6BsrVh/nhZdHpVZ76iMIPvQwz1eoXC3DmAg9K51qT5/dEVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="icon" href='{% static "logo/logo-sm.png"%}' type="image/icon type">


    {% comment %} <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css"> {% endcomment %}
    {% comment %} <script src="https://kit.fontawesome.com/a71ad1249e.js" crossorigin="anonymous"></script> {% endcomment %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap" rel="stylesheet">

    {% block head %}
    
    {% endblock head %}

   <link rel="stylesheet" href='{% static "css/owl.carousel.min.css"%}'>

    <link rel="stylesheet" href='{% static "css/animate.css"%}'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css"%}'> 
    <link rel="stylesheet" href='{% static "css/custom_bootstrap.min.css"%}'> 
    
    <link rel="stylesheet" href='{% static "css/caruselstyle.css"%}'> 
    
    <link rel="stylesheet" href="{% static 'style.css'%}">
  </head>

<body class="min-vh-100">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0" nonce="HMIhlITI"></script>
    {% block main %}


    {% block navbar %}
        {% comment %} navbar block  {% endcomment %}
    {% endblock navbar %}

    {% block carusel %}
        {% comment %} navbar carusel  {% endcomment %}
    {% endblock carusel %}

      
    

      {% block content %}
      
        {% comment %} blcok content  {% endcomment %}
      {% endblock content %}

    
    


      
    {% endblock main %}

    {% block footer %}
      {% comment %} block footer  {% endcomment %}
    {% endblock footer %}

    {% block script %}{% endblock script %}
<script src='{% static "js/jquery-3.3.1.min.js"%}'></script>
<script src='{% static "js/popper.min.js"%}'></script>
<script src="{% static 'js/custom_bootstrap.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/myjs.js'%}"></script>
  

</body>

</html>