<!-- navbar and navigation -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light  shadow-sm sticky-top navvbar" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand m-0 p-0" href="{% url 'home'%}">
      <img src="{%static 'logo/logo-md1.png'%}" class="m-0 p-0 img-fluid"  alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav justify-content-end">
        <li class="nav-item navitem">
          <a class="nav-link navlink active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item navitem">
          <a class="nav-link navlink" href="{%url 'contact'%}">Contact Us</a>
        </li>
        <li class="nav-item navitem">
          <a class="nav-link navlink" href="{%url 'about'%}">About us</a>
        </li>
      </ul>
      <!--search form-->
      <form class="d-flex" action="{% url 'search'%}" method="GET">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_query">
        <button class="btn  search-btn" type="submit">Search</button>
      </form>
      <!--endsearch form-->

    </div>
  </div>
</nav>

  <!-- end navbar and navigation  -->