@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap');

:root {
    /* Not my favorite that line-height has to be united, but needed */
    --lh: 1.4rem;
    --theme: #f95c39;
    /* --theme: rgb(1, 47, 47);   */
    --line: #f95c39;
    --footer: #e23109;
    /* --line: rgba(1, 47, 47, 0.849); */
    --border: rgba(1, 47, 47, 0.178);
    --button: rgba(1, 47, 47, 0.555);
    /* --theme: rgb(83, 143, 143); */
    /* --white: #ffffff;  */

}

* {
    font-family: 'Poppins', sans-serif !important
}

.custom-container {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: dimgray;
}

/* box title  */
.title-text {

    width: 100%;
    border-bottom: 5px solid var(--line) !important;
    line-height: 0.5em;
    margin: 10px 0 0px 0;
}

.title-text span {
    /* background:rgb(136, 124, 241); 
     padding:0 10px;  */
    color: var(--theme);
}

/* end box title  */






/* article */

.article p,
.article h2,
.article h3 {
    padding: 0px 0 20px 0;
    line-height: 1.6;
}

/* .article p{
    font-size: 15px !important;
    color: black !important;
} */

.article a {
    color: rgb(22, 84, 255);
}

.article h2,
.article h3 {
    color: rgb(48, 152, 161);
}

/* end article */



/* .navbar */
.navlink {
    color: var(--theme);
}

.search-btn {
    background-color: var(--theme);
    color: aliceblue;
}

.search-btn:hover {
    background-color: aliceblue;
    color: var(--theme);
}

/* colr clss  */
.color {
    color: var(--theme);
}

.bg-color {
    background-color: var(--theme) !important;
}

.footer-bg-color {
    background-color: var(--footer) !important;
}

/* end color class  */
/* end navbar  */


/* footer  */

.footer-terms {
    font-size: 12px !important;
}

.footer-list {

    font-size: 12px;
    font-weight: 800;
}

/* .footer,.navbar {
    background-color: var(--theme) !important;
    color: aliceblue !important;
} */
/* end footer  */

/* card  */

.card {
    border-color: var(--border) !important;
}

.card-frow {
    background-color: #f3f3f3 !important;
    color: var(--theme) !important;
    border: 1px solid #eccbcb !important;
    /* box-shadow: ; */
}

.card-frow:hover {
    /* border-color: var(--border) !important; */
    border: 1px solid var(--theme) !important;
}

.cb {
    /* border: none !important ; */
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.card-header,
.card-footer {
    border: none !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: rgba(255, 255, 240, 0) !important;
}

.footer-card {
    display: flex;
    justify-content: space-between;
    font-size: 12px;

}

.cb2 {
    /* border: none !important; */
}

.date-card {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
}


.card-text {
    margin: 0px !important;
    font-size: 14px;
}

.card-frow-text {
    color: var(--theme) !important;
}

/* end card  */


/* btn  */
.btn-custom:hover {
    background-color: rgba(255, 255, 255, 0) !important;
    color: var(--theme);
}

.btn-custom {
    border-color: rgba(250, 250, 248, 0) !important;
    text-decoration: underline;
}

.submit-btn {
    background-color: var(--theme);
    color: aliceblue;
}

.submit-btn:hover {
    /* background-color: var(--theme) ; */
    color: aliceblue;
}


/* end button  */


/* form control  */


.form-control:focus {
    border-color: var(--theme);
    box-shadow: 0 1px 1px var(--theme) inset;
    /* , 0 0 8px var(--theme); */
    outline: 0 none;
}

.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;

}

.foorm {
    /* right: 100px; */
    background-color: rgba(240, 248, 255, 0);
    border: none;
}

/* trending  */
.tred {
    font-size: 10px;
    margin-bottom: 0;
    color: var(--theme);
}

/* end trending  */

/* carusel  */


.car-img {
    z-index: 70;
}

.carousel-text {
    position: absolute;
    z-index: 80;
    margin: auto;
    color: aliceblue;
    top: 200px;
    font-size: 2.5vw;
    text-align: center;

    /* right: 50%; */
    /* right: 0; */

    /* top: 20%; */
    /* Adjust this value to move the positioned div up and down */
    /* text-align: center; */
    /* width: 60%; Set the width of the positioned div */
    */
}


/* align icon */




@media screen and (min-width: 578px) {
    .side {
        width: 80px !important;
    }



}

@media screen and (max-width: 578px) {
    .carousel-text {
        position: absolute;
        z-index: 80;
        margin: auto;
        color: aliceblue;
        top: 120px;
    }

}


.pactive {
    background-color: #f95c39 !important;
}


.main-banner {
    border-bottom: 3px dotted #eee;
    padding-top: 160px;
    padding-bottom: 30px;
}

.main-banner .left-content .thumb img {
    width: 100%;
    overflow: hidden;
}

.main-banner .left-content .inner-content {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.main-banner .left-content .inner-content h4 {
    color: #fff;
    margin-top: -10px;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
}

.main-banner .left-content .inner-content span {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    font-style: italic;
    display: block;
    margin-bottom: 30px;
}

.main-banner .right-content .right-first-image {
    margin-bottom: 28.5px;
}

.main-banner .right-content .right-first-image .thumb {
    position: relative;
    text-align: center;
}

.main-banner .right-content .right-first-image .thumb img {
    width: 100%;
    overflow: hidden;
}

.main-banner .right-content .right-first-image .thumb .inner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.main-banner .right-content .right-first-image .thumb .inner-content h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.main-banner .right-content .right-first-image .thumb .inner-content span {
    font-size: 16px;
    color: #fff;
    font-style: italic;
}

.main-banner .right-content .right-first-image .thumb .hover-content {
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    text-align: center;
    background-color: rgba(42, 42, 42, .97);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.main-banner .right-content .right-first-image .thumb:hover .hover-content {
    opacity: 1;
    visibility: visible;
}

.main-banner .right-content .right-first-image .thumb .hover-content .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.main-banner .right-content .right-first-image .thumb .hover-content h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.main-banner .right-content .right-first-image .thumb .hover-content p {
    color: #fff;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.main-border-button a {
    font-size: 13px;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 25px;
    display: inline-block;
    font-weight: 500;
    transition: all .3s;
}

.main-border-button a:hover {
    background-color: #fff;
    color: #2a2a2a;
}

/*
---------------------------------------------
Explore
---------------------------------------------
*/

#explore {
    padding-top: 90px;
    padding-bottom: 90px;
    border-bottom: 3px dotted #eee;
  }
  
  #explore .left-content {
    margin-right: 30px;
  }
  
  #explore .left-content h2 {
    font-size: 34px;
    font-weight: 700;
    color: #2a2a2a;
  }
  
  #explore .left-content span {
    font-size: 14px;
    color: #aaaaaa;
    font-weight: 500;
    display: block;
    margin-top: 25px;
  }
  
  #explore .left-content .quote {
    margin-top: 25px;
  }
  
  #explore .left-content .quote i {
    float: left;
    font-size: 32px;
    margin-right: 15px;
    margin-top: 10px;
  }
  
  #explore .left-content .quote p {
    font-style: italic;
    color: #2a2a2a;
    font-weight: 500;
  }
  
  #explore .left-content p {
    font-size: 14px;
    color: #aaaaaa;
    font-weight: 500;
    display: block;
    margin-top: 25px;
  }
  
  #explore .left-content .main-border-button a {
    color: #2a2a2a;
    border-color: #2a2a2a;
    margin-top: 35px;
  }
  
  #explore .left-content .main-border-button a:hover {
    background-color: #2a2a2a;
    color: #fff;
  }
  
  #explore img {
    width: 100%;
    overflow: hidden;
  }
  
  #explore .leather {
    margin-bottom: 30px;
  }
  
  #explore .first-image {
    margin-bottom: 30px;
  }
  
  #explore .leather,
  #explore .types {
    min-height: 255px;
    background-color: #f8f8f8;
    text-align: center;
    width: 100%;
  }
  
  #explore .leather h4,
  #explore .types h4 {
    font-size: 24px;
    font-weight: 700;
    color: #2a2a2a;
    padding-top: 90px;
    margin-bottom: 5px;
  }
  
  #explore .leather span,
  #explore .types span {
    font-size: 14px;
    font-style: italic;
    color: #aaa;
    font-weight: 500;
  }
  
  /* 


  * 
---------------------------------------------
footer
--------------------------------------------- 
*/

/* footer {
    margin-top: 60px;
    padding: 60px 0px 30px 0px;
    background-color: #2a2a2a;
  }
  
  footer .logo {
    margin-bottom: 20px;
  }
  
  footer ul li {
    display: block;
    margin-bottom: 5px;
  }
  
  footer ul li a {
    font-size: 14px;
    color: #fff;
    transition: all .3s;
  }
  
  footer ul li a:hover {
    color: #aaa;
  }
  
  footer h4 {
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  footer .under-footer {
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid rgba(250,250,250,0.3);
  }
  
  footer .under-footer ul {
    margin-top: 20px;
  }
  
  footer .under-footer ul li {
    display: inline-block;
    margin: 0px 5px;
  }
  
  footer .under-footer ul li a {
    font-size: 22px;
  }
  
  footer .under-footer p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
  }
  
  footer .under-footer a {
    color: #cff;
  }
  
  footer .under-footer a:hover {
    color: #c66;
  }
   */
  
  /* 