{% extends "main.html" %}

{% block title %}Dashboard{% endblock title %}
{% block head %}
{% comment %}
<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
<script defer src="https://pyscript.net/alpha/pyscript.js"></script> {% endcomment %}
{% endblock head %}


{% block main %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock navbar %}

{% block content %}

<div class="container" style="background-color:#dcdcdc; text-shadow:0.3px 0.5px 1.5px  gray;">
    <div class="row">
        <div class="col-9">
            <form id="contactForm" method="POST" class="row">
                {% csrf_token %}
                <div class="col-4 mt-3">
                    <div class="bg-light rounded">
                        <span class="d-block m-0 p-0 mx-2 ">
                            login as: <span style="font-size:10px; color:black;">{{user}}</span>
                        </span>
                        <span class="d-block m-0 mx-2  p-0">
                            last login: <span style="font-size:10px; color:black;">{{user.last_login}}</span>
                        </span>
                        <span class="d-block m-0 p-0 mx-2 ">
                            account created: <span style="font-size:10px; color:black;">{{user.date_joined}}</span>
                        </span>
                    </div>

                    <div class="bg-light rounded m-0 p-0 mt-1">
                        <p class="border-bottom border-warning ms-2">You have: {{ total }} subscriber</p>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            {% for subscriber in subscriptions %}

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-{{ forloop.counter }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false"
                                        aria-controls="flush-collapse{{ forloop.counter }}">
                                        <div class="form-check">
                                            <input onclick="toggle(this)" class="form-check-input" type="checkbox"
                                                value="{{ forloop.counter }}-email" id="{{ forloop.counter }}-" name="">
                                            <label class="form-check-label" for="{{item.email}}">
                                                Email list {{ forloop.counter }}
                                            </label>
                                        </div>
                                    </button>
                                </h2>
                                <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                                    aria-labelledby="flush-{{ forloop.counter }}"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        {% for item in subscriber %}
                                        <div class="form-check" style="font-size: 10px;">
                                            <input class="form-check-input email-{{forloop.parentloop.counter}}-"
                                                type="checkbox" value="{{item.email}}" name="emailList">
                                            <label class="form-check-label" for="{{item.email}}">
                                                {{item.email}}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>

                    </div>

                </div>
                <div class="col-8 m-0 p-0  text-dark h-100">
                    <div class="m-0 p-0 bg-light py-4 px-2 shadow mt-3 rounded">

                        <!-- Bootstrap 5 starter form -->

                        <div class="mb-3">
                            <label for="title" class="form-label">Email Title</label>
                            <input placeholder="Email Title" type="text" class="form-control" id="title" name="title"
                                required>
                        </div>
                        {{ form.media }}
                        {{ form.as_p }}
                        <div class="d-grid mx-auto">
                            <button class="btn submit-btn " type="submit">Submit</button>
                        </div>


                    </div>
                </div>
            </form>
        </div>
        <div class="col-3">
            <div class="my-3 bg-light p-2 rounded">
                <form action="" method="post" class="d-flex flex-row justify-content-between align-items-center">
                    {% csrf_token %}
                    <input type="submit" value="internship" class="btn btn-warning" name="intern">
                    <input type="submit" value="scholarship" class="btn btn-primary" name="schol">

                </form>
            </div>

            <div class="mt-1 bg-light rounded px-2">
                <p class="px-2 m-0 py-0 border-bottom border-warning text-center">Update log(Internship)</p>
                <table class="table text-center" style="font-size:13px">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Date</th>
                            <th scope="col">Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for intern in updateInternPost %}
                <tr class="text-center">
                    
                    <td>{{intern.created| date:"F d Y" }}</td>
                    <td>{{intern.addPost}}</td>
                </tr>
                {% endfor %}
                        
                    </tbody>
                </table>
                
            </div>
            <div class="mt-1 bg-light rounded px-2">
                <p class="px-2 m-0 py-0 border-bottom border-warning text-center">Update log(Scholarship)</p>
                
                <table class="table text-center" style="font-size:13px">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Date</th>
                            <th scope="col">Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schol in updateScholPost %}
                <tr class="text-center">
                    
                    <td>{{schol.created| date:"F d Y" }}</td>
                    <td>{{schol.addPost}}</td>
                </tr>
                {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    function toggle(source) {
        console.log(source.id)
        checkboxes = document.getElementsByClassName(`email-${source.id}`);
        // console.log(checkboxes)
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>






{% endblock content %}
{% endblock main %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}