{% extends "main.html" %}

{% block title %}Dashboard{% endblock title %}
{% block head %}
{% comment %}
<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
<script defer src="https://pyscript.net/alpha/pyscript.js"></script> {% endcomment %}
{% endblock head %}


{% block main %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock navbar %}

{% block content %}

<div class="container vh-100" style="background-color:#dcdcdc; text-shadow:0.3px 0.5px 1.5px  gray;">

    <div class="row">
        <div class="col-9">

            <form id="contactForm" method="POST" class="row">
                {% csrf_token %}
                <div class="col-4">
                    <div class="bg-light rounded">
                        <span class="d-block m-0 p-0 mx-2 ">
                            login as: <span style="font-size:10px; color:black;">{{user}}</span>
                        </span>
                        <span class="d-block m-0 mx-2  p-0">
                            last login: <span style="font-size:10px; color:black;">{{user.last_login}}</span>
                        </span>
                        <span class="d-block m-0 p-0 mx-2 ">
                            account created: <span style="font-size:10px; color:black;">{{user.date_joined}}</span>
                        </span>
                    </div>

                    <div class="bg-light rounded mt-1 px-2">
                        <p class="border-bottom border-warning">You have: {{subscriptions|length }}</p>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            {% for subscriber in subscriptions %}

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-{{ forloop.counter }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false"
                                        aria-controls="flush-collapse{{ forloop.counter }}">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{ forloop.counter }}-email"
                                                id="{{ forloop.counter }}-" name="emailList">
                                            <label class="form-check-label" for="{{item.email}}">
                                                Email list {{ forloop.counter }}
                                            </label>
                                        </div>
                                    </button>
                                </h2>
                                <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                                    aria-labelledby="flush-{{ forloop.counter }}"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        {% for item in subscriber %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{item.email}}"
                                                id="flexCheckDefault" name="emailList">
                                            <label class="form-check-label" for="{{item.email}}">
                                                {{item.email}}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>

                    </div>

                </div>
                <div class="col-8 bg-light text-dark h-100">
                    <div class="py-4 shadow mt-4">

                        <!-- Bootstrap 5 starter form -->

                        <div class="mb-3">
                            <label for="title" class="form-label">Email Title</label>
                            <input placeholder="Email Title" type="text" class="form-control" id="title" name="title"
                                required>
                        </div>
                        {{ form.media }}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <button class="btn submit-btn " type="submit">Submit</button>
                        </div>


                    </div>
                    sdfsdfsd sfd
                </div>
            </form>
        </div>
        <div class="col-3">
            <div class="mt-3 bg-light rounded">
                <form action="" method="post" class="d-flex flex-row justify-content-between align-items-center">
                    {% csrf_token %}
                    <input type="submit" value="internship" class="btn btn-warning" name="intern">
                    <input type="submit" value="scholarship" class="btn btn-primary" name="schol">

                </form>
            </div>

            <div class="mt-1 bg-light rounded px-2">
                <p class="px-2 m-0 py-0 border-bottom border-warning">Update log(scholarship)</p>
                {% for intern in updateInternPost %}
                <p> <span>{{intern.created}}<span> <span>{{intern.addPost}}</span></p>
                {% endfor %}
            </div>
            <div class="mt-1 bg-light rounded px-2">
                <p class="px-2 m-0 py-0 border-bottom border-warning">Update log(internship)</p>
                {% for schol in updateScholPost %}
                <p> <span>{{schol.created}}<span> <span>{{schol.addPost}}</span></p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>







{% endblock content %}
{% endblock main %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}