{% extends 'main.html' %}
{% load static %}
{% block title %}ScholarUni | Home{% endblock title %}
{% block main %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock navbar %}

{% block carusel %}
{% include "carusel.html" %}
{% endblock carusel %}
{% if messages %}
  {% for message in messages %}
      <div class="alert alert-{{ message.extra_tags }} text-center alert-dismissible fade show w-50 position-absolute top-0 start-50 translate-middle-x sticky-top" role="alert">
          <strong>{{message}}</strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endfor %}
{% endif %}
{% block content %}


<section class="custom-container">
  <div class="container-fluid">
    <div class="d-flex  justify-content-left pb-0 mt-2 tred">
      <img src="{% static 'logo/svg/chart-line-svgrepo-com.svg'%}" height="15" width="20">
      <p class="pb-0 tred"><span class="fw-bolder">Trending on Scholaruni</span>
      </p>
    </div>
    <!-- 2 row first row -->
    <div class="row">

      {% for card in first_row_schol %}
      <div class="col-md-4 col-12 gy-2 g-md-4">
        <a href="{% url 'scholar_blog' card.slug %}">
          <div class="card border h-100 kb" >
            <div class="card-header">
              <img src="{% static 'logo/svg/square-academic-cap-svgrepo-com.svg'%}" alt="" height="25px">
              <img src="{% static 'logo/svg/check-circle-svgrepo-com.svg' %}" alt="" height="15px">
              <img src="{% static 'logo/svg/check-protect-protection-security-shield-safe-svgrepo-com.svg' %}" alt="" height="15px">


            </div>
            <div class="card-body cb">

              <p class="card-text fw-bold text-dark">{{card.title}}</p>

            </div>
            <div class="card-footer footer-card">
              <div class="d-flex my-auto">
                <img class="pb-1" src="{% static 'logo/svg/stopwatch-svgrepo-com.svg'%}" alt="" srcset="">
                <span class="py-1">{{card.publish_date}}</span>
              </div>
              <div class="my-auto">
                <img class="" src="{% static 'logo/svg/badge-favorite-rating-star-svgrepo-com.svg' %}" alt="" height="15px">
                {% with ''|center:card.star as range %}
                  {% for _ in range %}
                  <img src="{% static 'logo/svg/badge-favorite-rating-star-svgrepo-com.svg' %}" alt="" height="15px">
                  {% endfor %}
                  {% endwith %}
                
                <img src="{% static 'logo/svg/award-badge-medal-prize-star-winner-svgrepo-com.svg' %}" alt="" height="15px">
              </div>
            </div>
          </div>

        </a>
      </div>
      {% endfor %}



      {% for card in first_row_intern %}
      <div class="col-md-4 col-12 gy-2 g-md-4">
        <a href="{% url 'intern_blog' card.slug %}">
          <div class="card border h-100 kb" >
            <div class="card-header">
              <img src="{% static 'logo/svg/square-academic-cap-svgrepo-com.svg'%}" alt="" height="25px">
              <img src="{% static 'logo/svg/check-circle-svgrepo-com.svg' %}" alt="" height="15px">
              <img src="{% static 'logo/svg/check-protect-protection-security-shield-safe-svgrepo-com.svg' %}" alt="" height="15px">


            </div>
            <div class="card-body cb">

              <p class="card-text fw-bold text-dark">{{card.title}}</p>

            </div>
            <div class="card-footer footer-card">
              <div class="d-flex my-auto">
                <img class="pb-1" src="{% static 'logo/svg/stopwatch-svgrepo-com.svg'%}" alt="" srcset="">
                <span class="py-1">{{card.publish_date}}</span>
              </div>
              <div class="my-auto">
                {% with ''|center:card.star as range %}
                  {% for _ in range %}
                  <img src="{% static 'logo/svg/badge-favorite-rating-star-svgrepo-com.svg' %}" alt="" height="15px">
                  {% endfor %}
                  {% endwith %}
                
                <img src="{% static 'logo/svg/award-badge-medal-prize-star-winner-svgrepo-com.svg' %}" alt="" height="15px">
              </div>
            </div>
          </div>

        </a>
      </div>
      {% endfor %}
    </div>



    <div class="row">

      <!-- card row -->
      <div class="col-md-9  col-sm-12">

        <div class="d-flex  justify-content-center pb-0">
          <h2 class=" mb-2 title-text mt-5 pb-3 border-bottom border-dark kb"><span class="px-3"><img src="{% static 'logo/svg/square-academic-cap-svgrepo-com.svg'%}" alt="" srcset="" height="50px">Scholarship</span>
          </h2>
        </div>


        <!-- scholar card  -->
        <div class="row">
        {% for scholcard in scholarship_row %}
        
          <div class="col-md-6 col-12 gy-2 g-md-4">
            <a href="{% url 'scholar_blog' scholcard.slug %}">
              <div class="card d-flex flex-row cb2 border">
                <div class="card-body d-block flex-columnp">
                  <p class="card-text fw-bold">{{scholcard.title}}.</p>
                    <div class="footer-card">
                      <div class="d-flex my-auto">
                      <img class="pb-1" src="{% static 'logo/svg/stopwatch-svgrepo-com.svg'%}" alt="" srcset=""> 
                      <span class="py-1">{{scholcard.publish_date}}</span>
                    </div>
                    <div class="my-auto">
                      {% with ''|center:scholcard.star as range %}
                  {% for _ in range %}
                  <img src="{% static 'logo/svg/badge-favorite-rating-star-svgrepo-com.svg' %}" alt="" height="15px">
                  {% endfor %}
                  {% endwith %}
                  <img src="{% static 'logo/svg/square-academic-cap-svgrepo-com.svg'%}" alt="" height="20px" >
                    </div>
                  </div>
                </div>
                <img src="{{scholcard.feature_image.url}}" alt="" srcset="" style="width: 100px;">
              </div>

            </a>
          </div>
          {% endfor %}

          {% comment %} see more button  {% endcomment %}
          <div class="col-md-12 col-12 gy-2 g-md-4">
            <div class="d-grid gap-2">
              <a class="btn-custom text-center" type="button" href="{% url 'scholarships' %}"> See more <img src="{% static 'logo/svg/in-administration-control-edit-option-setting-svgrepo-com.svg'%}" alt="" srcset=""></a>
            </div>
          </div>
        </div>



        <!-- internship card  -->
        <div class="d-flex  justify-content-center">
          <h2 class="mb-2 title-text mt-5 pb-3 border-bottom kb"><span class="px-3"><img src="{% static 'logo/svg/intern.svg'%}" alt="" srcset="" height="50px"> Internship</span></h2>
        </div>
        <div class="row">
          {% for interncard in internship_row %}
          <div class="col-md-6 col-12 gy-2 g-md-4">
            <a href="{% url 'intern_blog' interncard.slug %}">
              <div class="card d-flex flex-row cb2 border">
                <div class="card-body d-block flex-columnp">
                  <p class="card-text fw-bold">{{interncard.title}}.</p>
                    <div class="footer-card">
                      <div class="d-flex my-auto">
                        <img class="pb-1" src="{% static 'logo/svg/stopwatch-svgrepo-com.svg'%}" alt="" srcset=""> 
                      <span class="py-1">{{interncard.publish_date}}</span>
                    </div>
                    <div class="my-auto">
                      {% with ''|center:interncard.star as range %}
                        {% for _ in range %}
                        <img src="{% static 'logo/svg/badge-favorite-rating-star-svgrepo-com.svg' %}" alt="" height="15px">
                        {% endfor %}
                        {% endwith %}
                      <img src="{% static 'logo/svg/intern.svg'%}" alt="" height="20px" >
                    </div>
                  </div>
                </div>
                <img src="{{interncard.feature_image.url}}" alt="" srcset="" style="width: 100px;">
              </div>

            </a>

          </div>
          {% endfor %}


          {% comment %} see more button  {% endcomment %}
          <div class="col-md-12 col-12 gy-2 g-md-4">
            <div class="d-grid gap-2">
              <a class="btn-custom text-center" type="button" href="{% url 'internships' %}"> See more <img src="{% static 'logo/svg/in-administration-control-edit-option-setting-svgrepo-com.svg'%}" alt="" srcset=""></a>
            </div>
          </div>
        </div>
      </div>

      {% include "sidebar.html" %}
    </div>
  </div>
</section> 
{% endblock content %}
{% endblock main %}

{% block footer %}
      {% include 'footer.html' %}
{% endblock footer %}
